{% extends 'base.html' %}

{% block title %}Photo Gallery{% endblock %}

{% block content %}
<div class="photos-header">
    <h1>Фотографии <h4><a href="/">sluicee.space</a></h4> </h1>

    <!-- Перечисление альбомов -->
    <div class="album-list" id="scroller">
        <button class="album-button show-all" data-album="all" style="display: none; background: none;">
            <div class="album-text">Показать все</div>
        </button>
        {% for album in albums %}
            <button class="album-button" style="background-image: url('{{ album.image.url }}');" data-album="{{ album.id }}">
                <div class="album-overlay"></div>
                <div class="album-text">{{ album.title }}</div>
            </button>
        {% endfor %}
    </div>
</div>

<div class="gallery">  
    <!-- Отображение фотографий -->
    <div class="photo-grid">
        {% for photo in photos %}
            <div class="photo-card" data-album="{% if photo.album %}{{ photo.album.id }}{% else %}no-album{% endif %}">
                <div class="loading-placeholder"></div>
                <img id="photo-{{ photo.id }}" data-src="{{ photo.thumbnail.url }}" alt="{{ photo.title }}" class="photo-image lazyload" data-full="{{ photo.image.url }}">
                <div class="photo-desc">
                    <p>{{ photo.description }}</p>
                    {% if photo.camera %}
                        <p>{{ photo.camera.brand }} {{ photo.camera.model }} {{ photo.camera.lens }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="modal" class="modal">
        <span class="modal-close">&times;</span>
        <div class="modal-content">
            <img id="modal-image" src="" alt="">
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const albumListHorizontal = document.querySelector(".album-list");
        const lazyImages = document.querySelectorAll(".lazyload");
        const photoCards = document.querySelectorAll(".photo-card");
        let showAllButton = document.querySelector(".album-button.show-all");
        const modal = document.getElementById("modal");
        const modalImage = document.getElementById("modal-image");
        const modalClose = document.querySelector(".modal-close");

        function scrollHorizontally(e) {
            const delta = Math.max(-1, Math.min(1, e.deltaY));
            albumListHorizontal.scrollLeft += delta * 50; // Умножаем на 50 для ускорения прокрутки

            // Проверяем, дошли ли до конца горизонтальной прокрутки
            const isAtStart = albumListHorizontal.scrollLeft === 0;
            const isAtEnd = albumListHorizontal.scrollLeft + albumListHorizontal.clientWidth >= albumListHorizontal.scrollWidth;            
            e.preventDefault();
        }

        if (albumListHorizontal) {
            albumListHorizontal.addEventListener("wheel", scrollHorizontally, { passive: false });
        }

        function lazyLoad() {
            lazyImages.forEach(image => {
                if (image.getBoundingClientRect().top < window.innerHeight && !image.src) {
                    const placeholder = image.parentElement.querySelector('.loading-placeholder');
                    if (placeholder) {
                        const animation = document.createElement('div');
                        animation.classList.add('loading-animation');
                        placeholder.appendChild(animation);

                        const newImage = new Image();
                        newImage.onload = function() {
                            animation.remove(); // Удаляем анимацию после загрузки изображения
                            image.src = newImage.src;
                            image.classList.remove("lazyload"); // Удаляем класс после загрузки
                            image.style.display = 'block';
                            placeholder.remove(); // Удаляем loading-placeholder
                        };
                        newImage.src = image.dataset.src; // Загружаем изображение
                    } else {
                        console.error('Placeholder element not found.');
                    }
                }
            });
        }

        window.addEventListener("scroll", lazyLoad);
        window.addEventListener("resize", lazyLoad);
        window.addEventListener("orientationchange", lazyLoad);

        function showPhotos(albumId) {
            photoCards.forEach(card => {
                if (albumId === "all" || card.getAttribute("data-album") === albumId) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });

            // После скрытия или показа элементов, вызываем метод layout Masonry
            // для пересчета расположения элементов в сетке
            if (masonryInstance) {
                masonryInstance.layout();
            }
        }

        const buttons = document.querySelectorAll(".album-button:not(.show-all)");

        buttons.forEach(button => {
            button.addEventListener("click", () => {
                const albumId = button.getAttribute("data-album");

                showPhotos(albumId);

                if (!showAllButton) {
                    showAllButton = document.createElement("button");
                    showAllButton.classList.add("album-button", "show-all");
                    showAllButton.textContent = "Показать все";
                    showAllButton.setAttribute("data-album", "all");
                }

                button.parentNode.insertBefore(showAllButton, button.nextSibling);

                showAllButton.style.display = "inline-block";

                showAllButton.addEventListener("click", () => {
                    showPhotos("all");
                    showAllButton.style.display = "none";

                    buttons.forEach(btn => {
                        btn.style.display = "inline-block";
                        btn.classList.remove("active");
                    });

                    // После показа всех элементов, вызываем layout Masonry
                    if (masonryInstance) {
                        masonryInstance.layout();
                    }
                });

                buttons.forEach(btn => {
                    btn.classList.remove("active");
                    btn.style.display = "inline-block";
                });

                button.classList.add("active");
                button.style.display = "none";
            });
        });

        lazyImages.forEach(image => {
            image.addEventListener("click", function() {
                modalImage.src = image.getAttribute('data-full');
                modal.style.display = "flex"; // Используем flex для центрирования
            });
        });

        modalClose.addEventListener("click", function() {
            modal.style.display = "none";
        });

        modal.addEventListener("click", function(e) {
            if (e.target === modal) {
                modal.style.display = "none";
            }
        });

        document.addEventListener("keydown", function(e) {
            if (e.key === "Escape" && modal.style.display === "flex") {
                modal.style.display = "none";
            }
        });

        // Инициализация Masonry
        const grid = document.querySelector(".photo-grid");
        let masonryInstance = new Masonry(grid, {
            itemSelector: ".photo-card",
            columnWidth: ".photo-card",
            gutter: 25
        });

        // Ждем, пока все изображения загрузятся, и вызываем layout Masonry
        imagesLoaded(grid, function () {
            masonryInstance.layout();
        });


        lazyLoad();
    });
</script>
{% endblock %}
