/* Base Styles */
body {
    animation: fadeInAnimation 3s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background-color: #000;
    color: #fff;
    font-family: 'TildaSans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto; /* Убедитесь, что overflow не установлен в hidden */
}

body, html {
    overflow: auto;
    height: auto; /* Убедитесь, что высота не ограничена */
}


.loading-placeholder {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%; /* Соотношение сторон 4:3 */
    border-radius: 50%; /* Круглый фон */
}

.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px; /* Смещение спиннера на половину его высоты и ширины */
    margin-left: -25px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-top-color: #ffffff; /* Цвет верхней границы */
    animation: spin 1s linear infinite; /* Анимация вращения */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



/* Scrollbar Styles */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: initial;
}

/* Keyframes */
@keyframes fadeInAnimation {
    0% { opacity: 0; }
    to { opacity: 1; }
}

@font-face {
    font-family: 'TildaSans';
    src: url('../fonts/TildaSans-VF.woff2') format('woff2'),
         url('../fonts/TildaSans-VF.woff') format('woff'),
         url('../fonts/TildaSans-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Header Styles */
.header {
    color: #fff;
    padding-top: 72px;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    height: 190px;
    width: 190px;
    margin-bottom: 10px;
}

.header-content h1 {
    font-size: 64px;
    font-weight: 300;
    margin: 0;
}

.header-content p {
    font-size: 24px;
    margin-top: 0;
}

.social-links,
.quick-links {
    display: flex;
    gap: 12px;
    margin: 10px 0;
}

.quick-links p {
    font-size: 16px;
}

.social-links a,
.quick-links a,
.contact-link a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-bottom: 1px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a {
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
    color: rgba(97, 218, 251, 0.8);
}

.quick-links a::after,
.contact-link a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scaleY(0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover::after,
.quick-links a:hover::after,
.contact-link a:hover::after {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scaleY(1);
}

/* Project List Styles */
.project-list-page .project-list {
    margin: 0 auto;
}

.project-list-page .projects-title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.project-list-page .project-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
    justify-content: center;
    padding: 50px 80px 80px;
}

.project-list-page .project-grid a {
    color: white;
    text-decoration: none;
}

.project-list-page .project-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.project-list-page .project-card:hover {
    box-shadow: 0 8px 16px #0003;
}

.project-list-page .project-image {
    flex: 0 0 auto;
    width: 250px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-list-page .project-image:hover {
    transform: scale(1.1);
}

.project-list-page .project-details {
    margin-left: 15px;
    height: 150px;
    max-width: 350px;
}

.project-list-page .project-details a {
    margin-left: 15px;
}

.project-list-page .project-details h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 10px;
}

.project-list-page .project-details p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .project-list-page .project-grid {
        grid-template-columns: 1fr;
    }
}

/* Project Detail Page Styles */
.project-detail-page .project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.project-detail-page .project-header {
    text-align: center;
    margin-bottom: 40px;
}

.project-detail-page .project-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.project-detail-page .back-link {
    margin-top: 20px;
}

.project-detail-page .project-image {
    max-width: 60%;
    border-radius: 8px;
    margin-top: 20px;
    max-height: 619px;
    object-fit: cover;
}

.project-detail-page .project-description {
    text-align: start;
    max-width: 50%;
    margin: 20px auto;
}

.project-detail-page .project-description img {
    max-width: 100%;
    border-radius: 8px;
    object-fit:scale-down;
}

.project-detail-page .project-description p {
    font-size: 24px;
    line-height: 1.6;
}

.photos-header a,
.project-description a {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 1px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.photos-header a::after,
.project-description a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scaleY(0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.photos-header a:hover::after,
.project-description a:hover::after {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scaleY(1);
}

.project-detail-page .project-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 50%;
}

.project-detail-page .date-created {
    font-style: italic;
}

.project-detail-page .project-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-detail-page .project-links li {
    margin-right: 10px;
}

.project-detail-page .project-links a,
.project-detail-page .back-link a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-bottom: 1px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.project-detail-page .project-links a::after,
.project-detail-page .back-link a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scaleY(0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-detail-page .project-links a:hover::after,
.project-detail-page .back-link a:hover::after {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scaleY(1);
}

/* Existing CSS */

/* Modal Styles */
.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    overflow: auto;
    align-items: center;
    justify-content: center;
}

/* Модальное окно */
#imageModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.1s ease, transform 0.1s ease;
}

/* Контейнер с изображением */
#modalContent {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    opacity: 0;
}

/* Показ модального окна */
#imageModal.show-modal {
    display: flex;
}

/* Анимация для изображения */
#imageModal.show-modal #modalContent {
    opacity: 1;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .project-detail-page .project-detail {
        padding-top: 200px;
    }

    .project-detail-page .project-image {
        max-width: 90%;
    }

    .project-detail-page .project-description {
        max-width: 90%;
    }

    .project-detail-page .project-footer {
        width: 90%;
    }
}

/* Стили для галереи */
.gallery {
    text-align: center;
    scroll-behavior: smooth; /* Плавный скролл */
    padding-bottom: 100px;
}

.photos-header {
    margin-left: 5%;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-left: 10px;
}

.album-list {
    display: inline-block; /* Используем flexbox для горизонтального выравнивания */
    gap: 10px; /* Промежуток между элементами */
    margin-bottom: 20px;
    max-width: 100%; /* Максимальная ширина блока */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden; /* Скрываем вертикальную прокрутку */
    overscroll-behavior: smooth;
    padding-bottom: 10px; /* Добавляем нижний внутренний отступ для корректного отображения полосы прокрутки */
    white-space: nowrap; /* Запрещаем перенос элементов на новую строку */
    padding-top: 10px;
    padding-bottom: 10px;
}

.album-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s ease;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 25px;
}

.album-button:hover {
    transform: scale(1.05);
}

.album-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

.album-text {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 24px;
    font-family: TildaSans;
    font-weight: 100;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center; /* Выравнивание по горизонтали */
    gap: 50px;
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
    padding: 20px;
}

.photo-card {
    width: 250px;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s ease;
}

.photo-image {
    border-radius: 8px;
    width: 100%;
    height: auto;
    display: none;
}

.photo-card:hover {
    transform: scale(1.05);
}

.photo-desc {
    padding: 10px;
    text-align: left;
}

.photo-desc p {
    margin: 5px 0;
}

.photo-desc {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.album-card p, .photo-card p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

.album-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Стили для модального окна */
.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    overflow: auto;
    align-items: center;
    justify-content: center;
}


.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-image {
    max-width: 90%;
    max-height: 100vh;
    object-fit: contain; /* Обеспечивает сохранение пропорций и полное отображение изображения */
}

.modal-close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.modal-close:hover {
    color: #ccc;
}